<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="https://www.turntabl.io" class="font-weight-bold ml-1" target="_blank">TurnTabl</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://turntabl.io" class="nav-link" target="_blank">TurnTabl</a>
        </li>
        <li class="nav-item">
          <a href="https://exchange.matraining.com" class="nav-link" target="_blank">Mallon Exchange</a>
        </li>
        <li class="nav-item">
          <a href="https://exchange2.matraining.com" class="nav-link" target="_blank">Mallon Exchange 2</a>
        </li>
        <li class="nav-item">
          <a href="https://turntabl.semlr.com" class="nav-link" target="_blank">Semlr</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
