<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-0 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Portfolios</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="open(portfolioContent)">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Add New</span>
                    <span class="d-md-none">+</span>
                  </a>
                </li>
<!--                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">-->
<!--                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">-->
<!--                    <span class="d-none d-md-block">Manage</span>-->
<!--                    <span class="d-md-none">-</span>-->
<!--                  </a>-->
<!--                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ng-template #portfolioContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{newPortfolio.name}} {{newPortfolio.clientEmail}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
            </div>
            <div class="form-group">
              <div class="input-group">
                <input id="newPortfolioName" class="form-control" placeholder="Portfolio Name" name="newPortfolioName" type="text"
                       [(ngModel)] = "newPortfolio.name">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="createNewPortfolio();modal.close('Save click')">Create Portfolio</button>
        </div>
      </ng-template>
      <div class="card shadow">
        <div class="card-body">
          <!-- Chart -->
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col" colspan="2">Name</th>
<!--                <th scope="col">Worth</th>-->
                <th scope="col">Stocks</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let portfolio of portfolios">
                <th scope="row" colspan="2">
                  {{portfolio.name}}
                </th>
<!--                <td>-->
<!--                  $18300-->
<!--                </td>-->
                <td>
                  <a (click) = "getPortfoliosStocks(portfolio.id)" class="btn btn-sm btn-primary">View Stocks</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Default</h6>
              <h2 class="mb-0">Stocks</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Worth</th>
              </tr>
              </thead>

              <tbody >
              <p *ngIf="activePortfolioStocks.orders == 0"> You do not have and stock in this portfolio</p>
              <tr *ngFor="let order of activePortfolioStocks.orders">
                <th scope="row">
                  {{order.product}}
                </th>
                <td>
                  {{order.price}}
                </td>
                <td>
                  ${{order.quantity * order.price}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Trades</h3>
            </div>
            <div class="col text-right">
              <a routerLinkActive="active" [routerLink]="['/Orders']" class="btn btn-sm btn-primary">Make a Trade</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Order Made</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Portfolio</th>
              </tr>
            </thead>
            <tbody *ngFor="let portfolio of portfolios">
<!--            <p *ngIf="portfolios.*.orders == 0"> You do not have and stock in this portfolio</p>-->
<!--            <b *ngFor="let portfolio of portfolios">-->
              <tr *ngFor="let order of portfolio.orders">
                <th scope="row">
                  {{order.product}}
                </th>
                <td>
                  <i *ngIf="order.side.toLowerCase() =='sell'" class="fas fa-arrow-up text-success mr-3"></i>
                  <i *ngIf="order.side.toLowerCase() =='buy'" class="fas fa-arrow-down text-danger mr-3"></i>
                  {{order.side}}
                </td>
                <td>
                  {{order.createdAt | date:'medium'}}
                </td>
                <td>
                  {{portfolio.name}}
                </td>
              </tr>
<!--            </b>-->

            </tbody>
          </table>
        </div>
      </div>
    </div>
<!--    <div class="col-xl-4">-->
<!--      <div class="card shadow">-->
<!--        <div class="card-header border-0">-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col">-->
<!--              <h3 class="mb-0">Activities</h3>-->
<!--            </div>-->
<!--            <div class="col text-right">-->
<!--              <a href="#!" class="btn btn-sm btn-primary">See all</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="table-responsive">-->
<!--          &lt;!&ndash; Projects table &ndash;&gt;-->
<!--          <table class="table align-items-center table-flush">-->
<!--            <thead class="thead-light">-->
<!--              <tr>-->
<!--                <th scope="col">what happening with your portfolios</th>-->
<!--              </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              <tr>-->
<!--                <th scope="row">-->
<!--                  Traded Stock from Portfolio (Default)-->
<!--                </th>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th scope="row">-->
<!--                  Added Stock to Portfolio (Default)-->
<!--                </th>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th scope="row">-->
<!--                  Added New Portfolio (Default)-->
<!--                </th>-->
<!--              </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
